# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/

# Data
data/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/outputs/.gitkeep

# Logs
*.log
*.ckpt

# Notebooks
.ipynb_checkpoints/

# Env
.env
.venv
*.swp
